@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html ng-app="booksApp">
<body ng-controller="booksController">
    <div class="page-header">
        <h1>BookService</h1>
    </div>
    <div id="errors" style="color:red;" ng-model="errors">{{errors}}</div>
    <div>
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Books <button class="btn btn-info" style="margin-top:0px; float:right;" ng-click="AddBooks()">Add Book</button></h2>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled" ng-repeat="book in books ">
                        <li>
                            <strong><span>{{book.Author.Name}}</span></strong>:<span>{{book.Title}}</span>
                            <small><a href="#" ng-click="getBookDetails(book)">Details</a></small>
                            <small ng-controller="EditBookController"><a href="#" ng-click="EditBook(book)">Edit</a></small>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-include src="'/Scripts/Templates/BookDetails.html'"></div>
            <div ng-controller="EditBookController" ng-include src="'/Scripts/Templates/EditBook.html'"></div>

            <div ng-if="AddBook.visible" ng-include src="'/Scripts/Templates/addBooks.html'"></div>
        </div>
    </div>

</body>

<script src="~/Scripts/Controllers/BooksController.js"></script>
<script src="~/Scripts/Controllers/AddBookController.js"></script>
<script src="~/Scripts/Controllers/EditBookController.js"></script>

</html>