<div class="col-md-30" ng-if="BookEdit.visible">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Edit Book</h2>
        </div>
        <table class="table">
            <tr><td width="400px;">Author <input type="text" value="{{booksList.Author.Name}}"> </td></tr>
            <tr><td>Title {{booksD.Title}}</td></tr>
            <tr><td>Year {{booksD.Year}}</td></tr>
            <tr><td>Genre {{booksD.Genre}}</td></tr>
            <tr><td>Price {{booksD.Price}}</td></tr>

        </table>
    </div>
</div>
